Repository LSFLK/MedicinesforLK, pull requests merged in 2022-10, with the labels that each got.

#513 Update Package Details view in Donor portal
  admin-portal/src/types/AidPackage.ts
  donor-portal/public/assets/images/package-thumbnail.jpg
  donor-portal/src/components/navbar/styles.css
  donor-portal/src/pages/donate-now/index.tsx
  donor-portal/src/pages/package/images/banner.jpg
  donor-portal/src/pages/package/index.tsx
  donor-portal/src/pages/package/styles.css
  donor-portal/src/types/AidPackage.ts
Labels: Donor Portal, Website

#518 Use moment's unix function to get the unix timestamp
  admin-portal/src/pages/needUpload/needUpload.tsx
Labels: hacktoberfest-accepted

#516 Remove validation to prevent creating aid packages when any aid packa…
  admin-portal/src/pages/aidPackage/assignSuppliers/assignSuppliers.tsx
Labels: Admin portal, hacktoberfest-accepted

#520 Fix the last updated date in the needs page
  donor-portal/src/pages/needs/index.tsx
  donor-portal/src/types/MedicalNeeds.ts
Labels: hacktoberfest-accepted

#530 Feature/admin supplier info
  admin-portal/src/App.tsx
  admin-portal/src/apis/services/QuotationService.ts
  admin-portal/src/apis/services/SupplierService.ts
  admin-portal/src/apis/services/SuppliersService.ts
  admin-portal/src/layout/page.tsx
  admin-portal/src/pages/quotationUpload/quotationUpload.css
  admin-portal/src/pages/quotationUpload/quotationUpload.tsx
  admin-portal/src/pages/suppliersUpload/suppliersUpload.css
  admin-portal/src/pages/suppliersUpload/suppliersUpload.tsx
Labels: enhancement, Admin portal

#534 Change order of donor portal nav
  donor-portal/src/components/navbar/index.tsx
Labels: Donor Portal, Website
